body {
    margin: auto;
    padding: 0;
    background: #777;
    color: #777;
    width: 960px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
 #header, #nav, #section, #aside, #footer {
    background: #ebebeb;
    margin: 10px;
    }

#header {
    padding: 30px 0;
}

#nav {
    padding: 30px 0;
}

#section {
    float: left;
    overflow: auto;
    width: 495px;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

#article {
    color: #ebebeb;
    background: #777;
    width: 450px;
    padding: 20px 10px;
    margin-left: 12px;
    margin-top: 20px;
}

#aside {
    float: right;
    overflow: auto;
    width: 425px;
    height: 198px;
    margin-left: 10px;
    padding: 30px 0;
}

#para_1 {
    color: #777;
    background: #ebebeb;
    margin: 20px 10px 5px 10px;
    padding: 10px 10px;
    font-size: 22px;
}

#para_2 {
    color: #777;
    background: #ebebeb;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px;
}

#footer {
    padding: 30px 0;
}

.clear {
    clear: both;
}



